[Unit]
Description=Nightly AhDs Staging DB Backup

[Timer]
OnCalendar=*-*-* 03:30:00
Persistent=true
Unit=ahds-staging-backup.service

[Install]
WantedBy=timers.target
