[Unit]
Description=AhDs Native CT Update alle 5 Minuten

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
Persistent=true
Unit=ahds-native-update.service

[Install]
WantedBy=timers.target
